.containerr {
  //height: 100%;
  margin: 10%;
}

mat-card {
  width: 90%;
  max-width: 400px;
}

mat-card-header {
  display: block;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

#btn-login {
  width: 100%;
}

mat-error {
  display: block;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
