.mat-sidenav-container {
  height: calc(205vh - 112vh);
  border-top : #FF00FF solid 2px;
  mat-sidenav {
    width: auto;
    //background-color: var(--primary);

    mat-list-item {
      color: var(--lightgray);
      &:hover {
        background-color: var(--secondary);
      }
    }
  }
}
